<% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><%= link_to @division.name, division_path(@division) %></li>
<% end %>

<h1>Edit Division</h1>

<%= render "layouts/division_form" %>
